h1{
    background-color: aquamarine;
}
.abc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
    font-language-override: inherit;
    font-weight: lighter;
}
